Repository prathimacode-hub/ML-ProjectKart, pull requests merged in 2021-06, with the labels that each got.

#56 Added Heart disease prediction model
  Heart Disease prediction/Dataset/README.md
  Heart Disease prediction/Dataset/heart.csv
  Heart Disease prediction/Model/README.md
  Heart Disease prediction/Model/heart_disease_prediction.ipynb
Labels: LGMSOC21, 🟧 Level3

#67 House Price Prediction model
  House Price Prediction/Dataset/README.md
  House Price Prediction/Dataset/data.csv
  House Price Prediction/Model/README.md
  House Price Prediction/Model/house_price_prediction.ipynb
Labels: LGMSOC21, 🟧 Level3

#64 Adding Loan Eligibility Prediction #42
  Loan Eligibility Prediction/Dataset/test_loan.csv
  Loan Eligibility Prediction/Dataset/train_loan.csv
  Loan Eligibility Prediction/Model/loan_eligibility_prediction.ipynb
  Loan Eligibility Prediction/Model/loan_prediction.pkl
  Loan Eligibility Prediction/README.md
Labels: LGMSOC21, 🟧 Level3

#68 Added Ice cream prediction model
  Ice Cream Revenue Prediction/Dataset/IceCreamData.csv
  Ice Cream Revenue Prediction/Dataset/README.md
  Ice Cream Revenue Prediction/Model/README.md
  Ice Cream Revenue Prediction/Model/ice_cream_revenue_prediction.ipynb
Labels: LGMSOC21, 🟧 Level3

#75 Parkinson's Disease Prediction
  Parkinson's Disease Prediction/Dataset/parkinsons.csv
  Parkinson's Disease Prediction/Model/README.md
  Parkinson's Disease Prediction/Model/parkinson's_disease_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#72 Dog breed identification
  Dog Breed Identification/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  Dog Breed Identification/.ipynb_checkpoints/dog-breed-identification-checkpoint.ipynb
  Dog Breed Identification/Back End/app.py
  Dog Breed Identification/Back End/static/css/bootstrap.min.css
  Dog Breed Identification/Back End/static/css/form_upload.css
  Dog Breed Identification/Back End/templates/index.html
  Dog Breed Identification/Images/Running.png
  Dog Breed Identification/Images/WorkingDemo.png
  Dog Breed Identification/Images/link.png
  Dog Breed Identification/Model/.ipynb_checkpoints/dog-breed-identification-checkpoint.ipynb
  Dog Breed Identification/Model/README.md
  Dog Breed Identification/Model/dog_breed_identification.ipynb
  Dog Breed Identification/Model/requirements.txt
Labels: Back End, LGMSOC21, Model Creation, 🟥 Level4

#73 Concrete Strength Prediction Model #29
  Concrete Strength Prediction/Dataset/README.md
  Concrete Strength Prediction/Dataset/concrete_data.csv
  Concrete Strength Prediction/Model/Concrete_Strength_Prediction.ipynb
  Concrete Strength Prediction/Model/README.md
Labels: LGMSOC21, Model Creation, 🟧 Level3

#84 Added Animate Me! Project
  Animate Me!/Input Image/Amy.jpg
  Animate Me!/Output Image/AmyOP.jpeg
  Animate Me!/README.md
  Animate Me!/animate_me.ipynb
  Animate Me!/animate_me.py
Labels: LGMSOC21, Model Creation, 🟨 Level2

#90 Breast Cancer Prediction
  Breast Cancer Prediction/Dataset/README.md
  Breast Cancer Prediction/Dataset/breast_cancer_data.csv
  Breast Cancer Prediction/Model/BreastCancerPrediction.ipynb
  Breast Cancer Prediction/Model/README.md
Labels: LGMSOC21, Model Creation, 🟨 Level2

#88 Car Prices Prediction
  Car Prices Prediction/Dataset/CarPrice_Assignment.csv
  Car Prices Prediction/Model/README.md
  Car Prices Prediction/Model/car_prices_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟥 Level4

#92 Sign Language Prediction.
  Sign Language Prediction/.ipynb_checkpoints/sign_lang_model-checkpoint.ipynb
  Sign Language Prediction/Images/signs.png
  Sign Language Prediction/Model/.ipynb_checkpoints/sign_lang_model-checkpoint.ipynb
  Sign Language Prediction/Model/Model.h5
  Sign Language Prediction/Model/README.md
  Sign Language Prediction/Model/requirements.txt
  Sign Language Prediction/Model/sign_lang_model.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#93 NASA Asteroids Classification
  NASA Asteroids Classification/Dataset/nasa.csv
  NASA Asteroids Classification/Model/NASA _Asteroids_Classification.ipynb
  NASA Asteroids Classification/Model/README.md
Labels: LGMSOC21, Model Creation, 🟧 Level3

#87 Guess Which Flower - Iris Dataset
  IRIS Flower Classification/Dataset/IRIS.csv
  IRIS Flower Classification/Images/Cross Validation Score Graph.JPG
  IRIS Flower Classification/Model/README.md
  IRIS Flower Classification/Model/iris_flower_classification.ipynb
Labels: LGMSOC21, Model Creation, 🟨 Level2

#70 Colour Identification using Machine Learning
  Colour Identification using Machine Learning/Dataset/colorpic.jpg
  Colour Identification using Machine Learning/Dataset/colors.csv
  Colour Identification using Machine Learning/Dataset/pic1.jpg
  Colour Identification using Machine Learning/Dataset/pic2.jpg
  Colour Identification using Machine Learning/Dataset/pic3.jpg
  Colour Identification using Machine Learning/Model/color_detection.py
  Colour Identification using Machine Learning/README.md
  Colour Identification using Machine Learning/Results/result1.png
  Colour Identification using Machine Learning/Results/result2.png
  Colour Identification using Machine Learning/Results/result3.png
Labels: LGMSOC21, Model Creation, 🟨 Level2

#98 Diabetes Prediction
  Diabetes Prediction/Dataset/README.md
  Diabetes Prediction/Dataset/diabetes.csv
  Diabetes Prediction/Model/DiabetesPrediction.ipynb
  Diabetes Prediction/Model/README.md
Labels: LGMSOC21, Model Creation, 🟧 Level3

#99 Added Imagenet Classification
  Imagenet classification/DataSet/Link.txt
  Imagenet classification/Model/Image_Classifier.ipynb
  Imagenet classification/Model/app.py
  Imagenet classification/Model/static/css/main.css
  Imagenet classification/Model/static/js/main.js
  Imagenet classification/Model/templates/base.html
  Imagenet classification/Model/templates/index.html
  Imagenet classification/Model/uploads/1.jpg
  Imagenet classification/Model/uploads/589c80e564b351149f22a81f.png
  Imagenet classification/Model/uploads/Peacock-3-650x425.jpg
  Imagenet classification/Model/uploads/turtle_PNG69.png
  Imagenet classification/README.md
  Imagenet classification/images/1.jpg
  Imagenet classification/images/589c80e564b351149f22a81f.png
  Imagenet classification/images/ss.png
  Imagenet classification/images/turtle_PNG69.png
Labels: Back End, Front End, LGMSOC21, Model Creation, 🟥 Level4

#97 ISSUE Template problem solved
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: LGMSOC21, 🟪 Level0

#101 Crop Yield Prediction
  Crop Yield Prediction/Dataset/corn yield.csv
  Crop Yield Prediction/Dataset/dataset_42_soybean.csv
  Crop Yield Prediction/Model/README.md
  Crop Yield Prediction/Model/crop_yield_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#109 Levels and Points #105
  README.md
Labels: LGMSOC21, 🟪 Level0

#106 Uploading Bike Sharing Prediction Model
  Bike Sharing Prediction/Dataset/README.md
  Bike Sharing Prediction/Dataset/day.csv
  Bike Sharing Prediction/Dataset/hour.csv
  Bike Sharing Prediction/Model/README.md
  Bike Sharing Prediction/Model/Requirements.txt
  Bike Sharing Prediction/Model/bike_sharing_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#121 added links to the badges
  README.md
Labels: LGMSOC21, 🟪 Level0

#119 Wine Quality Prediction
  Wine Quality Prediction/Dataset/wineQualityReds.csv
  Wine Quality Prediction/Model/wine_quality_prediction.ipynb
  Wine Quality Prediction/README.md
  Wine Quality Prediction/app.py
  Wine Quality Prediction/static/Good Quality.png
  Wine Quality Prediction/static/bad wine quality.png
  Wine Quality Prediction/static/styles.css
  Wine Quality Prediction/static/wine predict homepage.png
  Wine Quality Prediction/templates/index.html
  Wine Quality Prediction/templates/result.html
  Wine Quality Prediction/wine Quality.pkl
  Wine Quality Prediction/wine_quality_prediction.py
Labels: Back End, Front End, LGMSOC21, Model Creation, 🟥 Level4

#122 Air Quality Prediction #46
  Air Quality Prediction/Dataset/README.md
  Air Quality Prediction/Dataset/city_day.csv
  Air Quality Prediction/Model/Air_quality_prediction.ipynb
  Air Quality Prediction/Model/README.md
Labels: LGMSOC21, Model Creation, 🟧 Level3

#120 Medical Cost Analysis for Smokers and Non-smokers #114
  Medical Cost Analysis for Smokers and Non-smokers/Dataset/README.md
  Medical Cost Analysis for Smokers and Non-smokers/Dataset/insurance.csv
  Medical Cost Analysis for Smokers and Non-smokers/Model/Medicine Charges.ipynb
  Medical Cost Analysis for Smokers and Non-smokers/Model/README.md
  Medical Cost Analysis for Smokers and Non-smokers/README.md
Labels: LGMSOC21, Model Creation, 🟥 Level4

#115 Titanic Survival Prediction
  Titanic Survival Prediction/Dataset/README.md
  Titanic Survival Prediction/Dataset/test.csv
  Titanic Survival Prediction/Dataset/train.csv
  Titanic Survival Prediction/Images/DT.jpg
  Titanic Survival Prediction/Images/KN.jpg
  Titanic Survival Prediction/Images/NB.jpg
  Titanic Survival Prediction/Images/README.md
  Titanic Survival Prediction/Images/RF.jpg
  Titanic Survival Prediction/Images/SVM.jpg
  Titanic Survival Prediction/Images/final.jpg
  Titanic Survival Prediction/Model/README.md
  Titanic Survival Prediction/Model/Titanic_survival_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#124 Road Lane Detection
  Road Lane Detection/Images/Canny_edges.png
  Road Lane Detection/Images/Hough_lines_avg.png
  Road Lane Detection/Images/Hough_lines_original.png
  Road Lane Detection/Images/README.md
  Road Lane Detection/Images/ROI.png
  Road Lane Detection/Images/Test_image.png
  Road Lane Detection/Model/Lane-detection-opencv.ipynb
  Road Lane Detection/Model/README.md
  Road Lane Detection/README.md
Labels: LGMSOC21, Model Creation, 🟨 Level2

#107 Spam Email Detection
  Spam Email Detection/Dataset/spam_data.csv
  Spam Email Detection/Model/README.md
  Spam Email Detection/Model/spam_email_detection .ipynb
Labels: LGMSOC21, Model Creation, 🟨 Level2

#110 issue #18 Stock Price Prediction added
  Stock Price Prediction/Dataset/README.md
  Stock Price Prediction/Dataset/stock_data.csv
  Stock Price Prediction/Model/README.md
  Stock Price Prediction/Model/stock_price_predicition.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#126 Added Car Brand Classification Project
  Car Brand Classification/Datasets.zip
  Car Brand Classification/Images/Lambo.png
  Car Brand Classification/Model/Lambo.png
  Car Brand Classification/Model/Procfile
  Car Brand Classification/Model/Transfer Learning Resnet 50.ipynb
  Car Brand Classification/Model/app.py
  Car Brand Classification/Model/static/css/main.css
  Car Brand Classification/Model/static/js/main.js
  Car Brand Classification/Model/templates/base.html
  Car Brand Classification/Model/templates/index.html
  Car Brand Classification/README.md
  Car Brand Classification/requirements.txt
Labels: Back End, Front End, LGMSOC21, Model Creation, 🟥 Level4

#123 Flight delay prediction
  Flight Delay Prediction/Dataset/Dataset.md
  Flight Delay Prediction/Model/README.md
  Flight Delay Prediction/Model/flight_delay_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#116 License Plate detection and Recognition
  License Plate Detection and Recognition/Model/README.md
  License Plate Detection and Recognition/Model/license_plate_detection_and_recognition.ipynb
  License Plate Detection and Recognition/images/input.jpg
  License Plate Detection and Recognition/images/output.png
Labels: LGMSOC21, Model Creation, 🟧 Level3

#139 E-mail Classification
  Email_Classification/Dataset/SMS_test.csv
  Email_Classification/Dataset/SMS_train.csv
  Email_Classification/Model/email_classification.ipynb
  Email_Classification/README.md
Labels: LGMSOC21, Model Creation, 🟧 Level3

#137 Added Income Prediction Web App
  Income Prediction Web App/.ipynb_checkpoints/Untitled-Copy1-checkpoint.ipynb
  Income Prediction Web App/.ipynb_checkpoints/Untitled-Copy2-checkpoint.ipynb
  Income Prediction Web App/.ipynb_checkpoints/model-checkpoint.ipynb
  Income Prediction Web App/Dataset/adult.csv
  Income Prediction Web App/Model/README.md
  Income Prediction Web App/Model/adult.csv
  Income Prediction Web App/Model/app.py
  Income Prediction Web App/Model/clean_data.csv
  Income Prediction Web App/Model/income.jpg
  Income Prediction Web App/Model/model.ipynb
  Income Prediction Web App/Model/model.pkl
  Income Prediction Web App/Model/scr1.png
  Income Prediction Web App/Model/scr2.png
  Income Prediction Web App/Model/scr3.png
Labels: LGMSOC21, Model Creation, 🟥 Level4

#141 Emoji Classification using OpenCV
  Emoji Classification using OpenCV/Images/emoji.png
  Emoji Classification using OpenCV/Model/Emoji_classification_using_OpenCV.ipynb
  Emoji Classification using OpenCV/Model/README.md
  Emoji Classification using OpenCV/README.md
  Emoji Classification using OpenCV/requirements.txt
Labels: LGMSOC21, Model Creation, 🟧 Level3

#144 Restaurant Recommendation System
  Restaurant Recommendation System/Dataset/README.md
  Restaurant Recommendation System/Images/front.jpeg
  Restaurant Recommendation System/Images/rating.png
  Restaurant Recommendation System/Model/README.md
  Restaurant Recommendation System/Model/Restaurant_Recommendation_System.ipynb
  Restaurant Recommendation System/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#143 Water Quality Prediction
  Water Quality Prediction/Dataset/README.md
  Water Quality Prediction/Dataset/water_potability.csv
  Water Quality Prediction/Images/download.png
  Water Quality Prediction/Model/README.md
  Water Quality Prediction/Model/WaterQualityPrediction.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#165 Football Match Prediction
  Football Match Prediction/Dataset/FMEL_Dataset.csv
  Football Match Prediction/Dataset/README.md
  Football Match Prediction/Images/ft1.png
  Football Match Prediction/Images/ft2.png
  Football Match Prediction/Images/ft3.jpg
  Football Match Prediction/Model/Football_Match_Prediction.ipynb
  Football Match Prediction/Model/README.md
  Football Match Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#169 Mushroom Classification
  Mushroom Classification/Dataset/README.md
  Mushroom Classification/Dataset/mushrooms.csv
  Mushroom Classification/Images/266024.jpg
  Mushroom Classification/Images/mush1.png
  Mushroom Classification/Images/mush2.png
  Mushroom Classification/Model/README.md
  Mushroom Classification/Model/mushroom_classification.ipynb
  Mushroom Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#170 Cryotherapy Analysis
  Cryotherapy Analysis/Dataset/Cryotherapy.xlsx
  Cryotherapy Analysis/Dataset/README.md
  Cryotherapy Analysis/Images/cr1.jpg
  Cryotherapy Analysis/Images/cr2.png
  Cryotherapy Analysis/Model/README.md
  Cryotherapy Analysis/Model/cryotherapy_analysis.ipynb
  Cryotherapy Analysis/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#167 Stress Level Prediction #15
  Stress Level Prediction/Dataset/README.md
  Stress Level Prediction/Dataset/survey_responses.csv
  Stress Level Prediction/Model/README.md
  Stress Level Prediction/Model/stress_level_prediction .ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#168 Mobile Range Price Classification
  Mobile Price Range Classification/Dataset/data1/README.md
  Mobile Price Range Classification/Dataset/data1/test.csv
  Mobile Price Range Classification/Dataset/data1/train.csv
  Mobile Price Range Classification/Images/Price(memory).png
  Mobile Price Range Classification/Images/Price-Range.png
  Mobile Price Range Classification/Model/README.md
  Mobile Price Range Classification/Model/mobile_price_range_classification.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#179 Resume Categorizing
  Resume Categorizing/Dataset/README.md
  Resume Categorizing/Dataset/UpdatedResumeDataSet.csv
  Resume Categorizing/Images/resume2.png
  Resume Categorizing/Images/resume3.png
  Resume Categorizing/Images/resume4.jpg
  Resume Categorizing/Images/resume5.png
  Resume Categorizing/Model/README.md
  Resume Categorizing/Model/Resume_categorizing.ipynb
  Resume Categorizing/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#175 issue#12 speech emotion recognition added
  Speech Emotion Recognition/Dataset/README.md
  Speech Emotion Recognition/Model/README.md
  Speech Emotion Recognition/Model/requirements.txt
  Speech Emotion Recognition/Model/speech_emotion_recognition.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#181 Natural Images Classification
  Natural Images Classification/Dataset/README.md
  Natural Images Classification/Images/ann.png
  Natural Images Classification/Images/cnn.png
  Natural Images Classification/Images/im1.gif
  Natural Images Classification/Images/model1.png
  Natural Images Classification/Images/model2.png
  Natural Images Classification/Model/README.md
  Natural Images Classification/Model/natural_images_classification.ipynb
  Natural Images Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#180 ADDED CODE FOR U.S. weather history visualization (issue-172)
  U.S. Weather History Visualizations/Dataset/KCLT.csv
  U.S. Weather History Visualizations/Dataset/KCQT.csv
  U.S. Weather History Visualizations/Dataset/KHOU.csv
  U.S. Weather History Visualizations/Dataset/KIND.csv
  U.S. Weather History Visualizations/Dataset/KJAX.csv
  U.S. Weather History Visualizations/Dataset/KMDW.csv
  U.S. Weather History Visualizations/Dataset/KNYC.csv
  U.S. Weather History Visualizations/Dataset/KPHL.csv
  U.S. Weather History Visualizations/Dataset/KPHX.csv
  U.S. Weather History Visualizations/Dataset/KSAF.csv
  U.S. Weather History Visualizations/Dataset/KSEA.csv
  U.S. Weather History Visualizations/Model/README.md
  U.S. Weather History Visualizations/Model/visualize_weather.py
  U.S. Weather History Visualizations/Model/wunderground_parser.py
  U.S. Weather History Visualizations/Model/wunderground_scraper.py
Labels: LGMSOC21, 🟥 Level4

#185 Solar Eclipse Classification
  Solar Eclipse Classification/Dataset/Data Dictionary.pdf
  Solar Eclipse Classification/Dataset/test.csv
  Solar Eclipse Classification/Dataset/train.csv
  Solar Eclipse Classification/Images/heatmap.png
  Solar Eclipse Classification/Images/project_viz1.png
  Solar Eclipse Classification/Images/target_analysis.png
  Solar Eclipse Classification/Model/README.md
  Solar Eclipse Classification/Model/Solar_Eclipse_Classification.ipynb
  Solar Eclipse Classification/Model/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#197 Fish Weight Prediction
  Fish Weight Prediction/Dataset/Fish.csv
  Fish Weight Prediction/Model/Fish_Weight_Prediction.ipynb
  Fish Weight Prediction/README.md
Labels: LGMSOC21, Model Creation, 🟨 Level2

#199 Stroke Prediction
  Stroke Prediction/Dataset/README.md
  Stroke Prediction/Dataset/healthcare-dataset-stroke-data.csv
  Stroke Prediction/Images/img.png
  Stroke Prediction/Model/README.md
  Stroke Prediction/Model/StrokePrediction.ipynb
  Stroke Prediction/Model/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#200 Crop Recommendation System
  Crop Recommendation System/Dataset/Crop_recommendation.csv
  Crop Recommendation System/Dataset/README.md
  Crop Recommendation System/Images/crop1.jpg
  Crop Recommendation System/Images/crop2.png
  Crop Recommendation System/Images/crop3.png
  Crop Recommendation System/Images/crop4.png
  Crop Recommendation System/Images/crop5.png
  Crop Recommendation System/Model/README.md
  Crop Recommendation System/Model/crop_recommendation_system.ipynb
  Crop Recommendation System/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#207 Zoo-Animal-Classification
  Zoo-Animal-Classification/Dataset/README.md
  Zoo-Animal-Classification/Dataset/class.csv
  Zoo-Animal-Classification/Dataset/zoo.csv
  Zoo-Animal-Classification/Model/README.md
  Zoo-Animal-Classification/Model/zoo_animal_classification.ipynb
  Zoo-Animal-Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟧 Level3

#201 Song Genre Classification
  Song Genre Classification/Dataset/README.md
  Song Genre Classification/Dataset/Spotify-2000.csv
  Song Genre Classification/Dataset/top10s.csv
  Song Genre Classification/Images/spo1.png
  Song Genre Classification/Model/README.md
  Song Genre Classification/Model/Song_genre_classification.ipynb
  Song Genre Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#203 Dance Form Classification
  Dance Form Classification/Dataset/README.md
  Dance Form Classification/Images/dance1.webp
  Dance Form Classification/Images/dance2.png
  Dance Form Classification/Images/dance3.png
  Dance Form Classification/Model/Dance_form_classification.ipynb
  Dance Form Classification/Model/README.md
  Dance Form Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#208 Plant Seedlings Classification
  Plant Seedlings Classification/Dataset/README.md
  Plant Seedlings Classification/Images/plant1.jpg
  Plant Seedlings Classification/Images/plant2.png
  Plant Seedlings Classification/Model/Plant_seedlings_classification.ipynb
  Plant Seedlings Classification/Model/README.md
  Plant Seedlings Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#224 Employee Retention Project
  Employee Retention Project/Dataset/README.md
  Employee Retention Project/Dataset/employee_satisfaction_evaluation (1).xlsx
  Employee Retention Project/Dataset/hr_data.csv
  Employee Retention Project/Images/Deptt-wise_salary_vs_Left.png
  Employee Retention Project/Images/Deptt-wise_satisfaction-level.png
  Employee Retention Project/Images/promotion-vs-left.png
  Employee Retention Project/Images/salary-vs-satisfaction-level.png
  Employee Retention Project/Model/README.md
  Employee Retention Project/Model/employee_retention_project.ipynb
Labels: LGMSOC21, Model Creation, 🟥 Level4

#225 Productivity Prediction
  Productivity Prediction/Dataset/README.md
  Productivity Prediction/Dataset/garments_worker_productivity.csv
  Productivity Prediction/Images/pro2.jpg
  Productivity Prediction/Images/pro3.png
  Productivity Prediction/Images/pro4.png
  Productivity Prediction/Images/pro5.png
  Productivity Prediction/Model/Productivity_prediction.ipynb
  Productivity Prediction/Model/README.md
  Productivity Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#229 Movie Oscar win Prediction
  Movie Oscar Win Prediction/Dataset/Movie_classification.csv
  Movie Oscar Win Prediction/Dataset/README.md
  Movie Oscar Win Prediction/Images/oscar1.jpg
  Movie Oscar Win Prediction/Model/Movie_oscar_win_prediction.ipynb
  Movie Oscar Win Prediction/Model/README.md
  Movie Oscar Win Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#227 Student Performance Prediction #163
  Student Performance Prediction/Dataset/README.md
  Student Performance Prediction/Dataset/student-por.csv
  Student Performance Prediction/Model/README.md
  Student Performance Prediction/Model/student_performance_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟥 Level4

#226 Heights and Weights Prediction
  Heights and Weights Prediction/Dataset/README.md
  Heights and Weights Prediction/Dataset/data.csv
  Heights and Weights Prediction/Images/ht1.png
  Heights and Weights Prediction/Images/ht1.webp
  Heights and Weights Prediction/Images/ht2.png
  Heights and Weights Prediction/Model/Heights_and_weights_prediction.ipynb
  Heights and Weights Prediction/Model/README.md
  Heights and Weights Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#195 Added Cotton Disease prediction
  Cotton Disease Prediction/Images/d_40_iaip.jpg
  Cotton Disease Prediction/Images/dis_leaf_324_iaip.jpg
  Cotton Disease Prediction/Images/dis_leaf_328_iaip.jpg
  Cotton Disease Prediction/Images/dis_leaf_7_iaip.jpg
  Cotton Disease Prediction/Model/Procfile
  Cotton Disease Prediction/Model/README.md
  Cotton Disease Prediction/Model/Transfer Learning resnet152V2.ipynb
  Cotton Disease Prediction/Model/app.py
  Cotton Disease Prediction/Model/requirements.txt
  Cotton Disease Prediction/Model/static/css/main.css
  Cotton Disease Prediction/Model/static/js/main.js
  Cotton Disease Prediction/Model/templates/base.html
  Cotton Disease Prediction/Model/templates/index.html
  Cotton Disease Prediction/requirements.txt
Labels: Back End, Front End, LGMSOC21, 🟥 Level4

#204 Water Quality
  Water Quality Prediction/Water Quality Analysis-2/Dataset/README.md
  Water Quality Prediction/Water Quality Analysis-2/Dataset/water_quality_potability.csv
  Water Quality Prediction/Water Quality Analysis-2/Images/filled values.png
  Water Quality Prediction/Water Quality Analysis-2/Images/info.png
  Water Quality Prediction/Water Quality Analysis-2/Images/missing values.png
  Water Quality Prediction/Water Quality Analysis-2/Model/README.md
  Water Quality Prediction/Water Quality Analysis-2/Model/water_quality_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#233 Exports Classification
  Exports Classification/Dataset/README.md
  Exports Classification/Dataset/canada_per_capita.csv
  Exports Classification/Images/ex2.jpg
  Exports Classification/Images/ex3.png
  Exports Classification/Model/Exports_classification.ipynb
  Exports Classification/Model/README.md
  Exports Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#234 USA House Pricing Prediction
  USA House Pricing Prediction/Dataset/README.md
  USA House Pricing Prediction/Dataset/USA_Housing.csv
  USA House Pricing Prediction/Images/us1.jpg
  USA House Pricing Prediction/Images/us2.png
  USA House Pricing Prediction/Images/us3.png
  USA House Pricing Prediction/Images/us4.png
  USA House Pricing Prediction/Images/us5.png
  USA House Pricing Prediction/Images/us6.png
  USA House Pricing Prediction/Images/us7.png
  USA House Pricing Prediction/Model/README.md
  USA House Pricing Prediction/Model/USA_house_pricing_prediction.ipynb
  USA House Pricing Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#235 MBA Specialization Classification
  MBA Specialization Classification/Dataset/MBA_ADMISSIONS.csv
  MBA Specialization Classification/Dataset/README.md
  MBA Specialization Classification/Images/mba1.png
  MBA Specialization Classification/Model/MBA_Specialization_classification.ipynb
  MBA Specialization Classification/Model/README.md
  MBA Specialization Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#211 Tetris Object Counter
  Tetris Object Counter/Dataset/1.png
  Tetris Object Counter/Dataset/2.png
  Tetris Object Counter/Dataset/3.png
  Tetris Object Counter/Dataset/4.png
  Tetris Object Counter/Dataset/5.png
  Tetris Object Counter/Dataset/README.md
  Tetris Object Counter/Images/Screenshots/Updated.png
  Tetris Object Counter/Images/Screenshots/illustration for readme.jpg
  Tetris Object Counter/Model/README.md
  Tetris Object Counter/Model/requirements.txt
  Tetris Object Counter/Model/tetris_object_counter.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#239 Bitcoin Price Prediction
  Bitcoin Price Prediction/Dataset/bitcoin_dataset.csv
  Bitcoin Price Prediction/Model/README.md
  Bitcoin Price Prediction/Model/bitcoin_price_prediction.ipynb
Labels: LGMSOC21, Model Creation, 🟥 Level4

#236 Salary Range Classification #223
  Salary Range Classification/Dataset/README.md
  Salary Range Classification/Dataset/salaries.csv
  Salary Range Classification/Model/README.md
  Salary Range Classification/Model/salary_range_classification.ipynb
Labels: LGMSOC21, Model Creation, 🟧 Level3

#232 Advertisement Success Prediction
  Advertisement Success Prediction/Dataset/README.md
  Advertisement Success Prediction/Dataset/advertising.csv
  Advertisement Success Prediction/Images/img.png
  Advertisement Success Prediction/Model/README.md
  Advertisement Success Prediction/Model/advertisement_success_prediction.ipynb
  Advertisement Success Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#261 Stars, Galaxies and Quasars Classification
  Stars, Galaxies and Quasars Classification/Dataset/README.md
  Stars, Galaxies and Quasars Classification/Dataset/Skyserver_SQL2_27_2018 6_51_39 PM.csv
  Stars, Galaxies and Quasars Classification/Images/star1.png
  Stars, Galaxies and Quasars Classification/Images/star2.png
  Stars, Galaxies and Quasars Classification/Images/star3.png
  Stars, Galaxies and Quasars Classification/Images/star4.jpg
  Stars, Galaxies and Quasars Classification/Images/star4.png
  Stars, Galaxies and Quasars Classification/Model/README.md
  Stars, Galaxies and Quasars Classification/Model/Stars_Galaxies_and_Quasars_Classification.ipynb
  Stars, Galaxies and Quasars Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#262 Dogecoin Price Prediction
  Dogecoin Price Prediction/Dataset/DOGE-USD.csv
  Dogecoin Price Prediction/Dataset/README.md
  Dogecoin Price Prediction/Images/doge1.jpeg
  Dogecoin Price Prediction/Images/doge2.png
  Dogecoin Price Prediction/Images/doge3.png
  Dogecoin Price Prediction/Images/doge4.png
  Dogecoin Price Prediction/Images/doge5.png
  Dogecoin Price Prediction/Images/doge6.png
  Dogecoin Price Prediction/Images/doge7.png
  Dogecoin Price Prediction/Images/doge8.png
  Dogecoin Price Prediction/Model/Dogecoin_price_prediction.ipynb
  Dogecoin Price Prediction/Model/README.md
  Dogecoin Price Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#228 Salary prediction
  Salary Prediction/Back End/app.py
  Salary Prediction/Back End/knn.pkl
  Salary Prediction/Back End/templates/index.html
  Salary Prediction/Dataset/data_alt.csv
  Salary Prediction/Dataset/hiring.csv
  Salary Prediction/Images/demo_sal_pred.png
  Salary Prediction/Images/res_sal_pred.png
  Salary Prediction/Model/.ipynb_checkpoints/salary_prediction-checkpoint.ipynb
  Salary Prediction/Model/README.md
  Salary Prediction/Model/knn.pkl
  Salary Prediction/Model/salary_prediction.ipynb
Labels: Back End, LGMSOC21, Model Creation, 🟥 Level4

#260 Lego minifigures
  LEGO Minifigures/Dataset/README.md
  LEGO Minifigures/Dataset/index.csv
  LEGO Minifigures/Dataset/metadata.csv
  LEGO Minifigures/Dataset/test.csv
  LEGO Minifigures/Images/cleaned data.png
  LEGO Minifigures/Images/details.png
  LEGO Minifigures/Images/info.png
  LEGO Minifigures/Images/model.png
  LEGO Minifigures/Model/README.md
  LEGO Minifigures/Model/lego_minifigures.ipynb
Labels: LGMSOC21, Model Creation, 🟥 Level4

#264 Phishing Website Detection
  Phishing Website Detection/Dataset/README.md
  Phishing Website Detection/Dataset/phishing.csv
  Phishing Website Detection/Images/web1.jpg
  Phishing Website Detection/Images/web2.png
  Phishing Website Detection/Images/web3.png
  Phishing Website Detection/Images/web4.png
  Phishing Website Detection/Model/Phishing_website_detection.ipynb
  Phishing Website Detection/Model/README.md
  Phishing Website Detection/requirements.txt
Labels: LGMSOC21, Model Creation, 🟥 Level4

#263 Startup Profit Prediction
  Startup Profit Prediction/Backend/Procfile
  Startup Profit Prediction/Backend/Procfile.txt
  Startup Profit Prediction/Backend/app.py
  Startup Profit Prediction/Backend/model.pkl
  Startup Profit Prediction/Backend/model.py
  Startup Profit Prediction/Backend/request.py
  Startup Profit Prediction/Backend/requirements.txt
  Startup Profit Prediction/Backend/templates/index.html
  Startup Profit Prediction/Dataset/50_Startups.csv
  Startup Profit Prediction/Dataset/README.md
  Startup Profit Prediction/Images/deploy.jpg
  Startup Profit Prediction/Images/img.png
  Startup Profit Prediction/Model/README.md
  Startup Profit Prediction/Model/model.pkl
  Startup Profit Prediction/Model/model.py
  Startup Profit Prediction/Model/startup_profit_prediction.ipynb
Labels: Back End, LGMSOC21, Model Creation, 🟥 Level4

#268 Insurance Claim Prediction #253
  Insurance Claim Prediction/Dataset/README.md
  Insurance Claim Prediction/Dataset/insurance2.csv
  Insurance Claim Prediction/Model/README.md
  Insurance Claim Prediction/Model/insurance_claim_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do

#267 Car fuel Consumption
  Fuel Consumption Analysis/Dataset/README.md
  Fuel Consumption Analysis/Dataset/measurements.csv
  Fuel Consumption Analysis/Dataset/measurements2.xlsx
  Fuel Consumption Analysis/Images/Info.png
  Fuel Consumption Analysis/Images/clean.png
  Fuel Consumption Analysis/Images/gas_station_orig.jpg
  Fuel Consumption Analysis/Images/missing.png
  Fuel Consumption Analysis/Model/README.md
  Fuel Consumption Analysis/Model/car_fuel_consumption.ipynb
Labels: LGMSOC21, Model Creation, To Do

#272 Added Freshers Salary Prediction Web App
  Fresher's Salary Prediction/.ipynb_checkpoints/Untitled-Copy1-checkpoint.ipynb
  Fresher's Salary Prediction/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  Fresher's Salary Prediction/.ipynb_checkpoints/model-checkpoint.ipynb
  Fresher's Salary Prediction/Dataset/data.csv
  Fresher's Salary Prediction/Model/.ipynb_checkpoints/fresher_salary_prediction_model-checkpoint.ipynb
  Fresher's Salary Prediction/Model/README.md
  Fresher's Salary Prediction/Model/__pycache__/explore_page.cpython-37.pyc
  Fresher's Salary Prediction/Model/__pycache__/predict_page.cpython-37.pyc
  Fresher's Salary Prediction/Model/app.py
  Fresher's Salary Prediction/Model/data.csv
  Fresher's Salary Prediction/Model/explore_page.py
  Fresher's Salary Prediction/Model/fresher_salary_prediction_model.ipynb
  Fresher's Salary Prediction/Model/predict_page.py
  Fresher's Salary Prediction/Model/s1.png
  Fresher's Salary Prediction/Model/s2.png
  Fresher's Salary Prediction/Model/s3.png
  Fresher's Salary Prediction/Model/s4.png
  Fresher's Salary Prediction/Model/s5.png
  Fresher's Salary Prediction/Model/s6.png
  Fresher's Salary Prediction/Model/xgboost_model.pkl
  Fresher's Salary Prediction/__pycache__/explore_page.cpython-37.pyc
  Fresher's Salary Prediction/__pycache__/predict_page.cpython-37.pyc
  Income Prediction Web App/Model/income_classification_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#270 Customer Region Classification
  Customer Region Classification/Dataset/Customer.csv
  Customer Region Classification/Dataset/README.md
  Customer Region Classification/Model/README.md
  Customer Region Classification/Model/customer_region_classification.ipynb
  Customer Region Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#269 Horses or Humans Classification
  Horses or Humans Classification/Dataset/README.md
  Horses or Humans Classification/Model/horses_or_humans_classification.ipynb
  Horses or Humans Classification/README.md
  Horses or Humans Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#274 Board Game Review Prediction
  Board Game Review Prediction/Dataset/README.md
  Board Game Review Prediction/Images/game1.jpg
  Board Game Review Prediction/Images/game2.png
  Board Game Review Prediction/Model/Board_game_review_prediction.ipynb
  Board Game Review Prediction/Model/README.md
  Board Game Review Prediction/requirements.txt
Labels: LGMSOC21, To Do, 🟥 Level4

#237 Added fake currency predictor
  Fake Currency Prediction/Dataset/FakeCurrencyModel.csv
  Fake Currency Prediction/Dataset/model.pickle
  Fake Currency Prediction/Model/.ipynb_checkpoints/fake_currency_prediction-checkpoint.ipynb
  Fake Currency Prediction/Model/README.md
  Fake Currency Prediction/Model/app.py
  Fake Currency Prediction/Model/fake_currency_prediction.ipynb
  Fake Currency Prediction/Model/static/images/dg.jpg
  Fake Currency Prediction/Model/static/images/fake_currency.jpg
  Fake Currency Prediction/Model/templates/index.html
Labels: Back End, Front End, LGMSOC21, Model Creation, To Do, 🟥 Level4

#283 Campus Recruitment - Analysis and Prediction
  Campus Recruitment - Analysis and Prediction/Dataset/Placement_Data_Full_Class.csv
  Campus Recruitment - Analysis and Prediction/Dataset/README.md
  Campus Recruitment - Analysis and Prediction/Images/camp1.png
  Campus Recruitment - Analysis and Prediction/Images/camp10.png
  Campus Recruitment - Analysis and Prediction/Images/camp11.png
  Campus Recruitment - Analysis and Prediction/Images/camp12.png
  Campus Recruitment - Analysis and Prediction/Images/camp13.jpg
  Campus Recruitment - Analysis and Prediction/Images/camp2.png
  Campus Recruitment - Analysis and Prediction/Images/camp3.png
  Campus Recruitment - Analysis and Prediction/Images/camp4.png
  Campus Recruitment - Analysis and Prediction/Images/camp5.png
  Campus Recruitment - Analysis and Prediction/Images/camp6.png
  Campus Recruitment - Analysis and Prediction/Images/camp7.png
  Campus Recruitment - Analysis and Prediction/Images/camp8.png
  Campus Recruitment - Analysis and Prediction/Images/camp9.png
  Campus Recruitment - Analysis and Prediction/Model/Campus_recruitment_analysis_and_prediction.ipynb
  Campus Recruitment - Analysis and Prediction/Model/README.md
  Campus Recruitment - Analysis and Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#287 Cartier Jewelry Classification
  Cartier Jewelry Classification/Dataset/README.md
  Cartier Jewelry Classification/Dataset/cartier_catalog.csv
  Cartier Jewelry Classification/Images/cart1.png
  Cartier Jewelry Classification/Images/cart2.png
  Cartier Jewelry Classification/Images/cart3.png
  Cartier Jewelry Classification/Images/cart4.png
  Cartier Jewelry Classification/Images/cart5.png
  Cartier Jewelry Classification/Images/cart6.png
  Cartier Jewelry Classification/Images/cart7.png
  Cartier Jewelry Classification/Images/cart8.jpeg
  Cartier Jewelry Classification/Model/README.md
  Cartier Jewelry Classification/Model/cartier_jewelry_classification.ipynb
  Cartier Jewelry Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#288 Gold Price Prediction
  Gold Price Prediction/Dataset/GoldPrice.csv
  Gold Price Prediction/Dataset/Random_forest predictions.csv
  Gold Price Prediction/Dataset/XGBoost predictions.csv
  Gold Price Prediction/Images/arima.png
  Gold Price Prediction/Images/plot1.png
  Gold Price Prediction/Images/plot2.png
  Gold Price Prediction/Images/project_viz.png
  Gold Price Prediction/Model/README.md
  Gold Price Prediction/Model/gold_price_prediction.ipynb
  Gold Price Prediction/Model/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#292 Extending "Look Through The Kart Of Amazing Projects" section in README.md file
  README.md
Labels: LGMSOC21, To Do, 🟨 Level2
