Repository prathimacode-hub/ML-ProjectKart, pull requests merged in 2021-07, with the labels that each got.

#289 World happiness report
  World Happiness Report Analysis/Dataset/README.md
  World Happiness Report Analysis/Dataset/world-happiness-report-2021.csv
  World Happiness Report Analysis/Dataset/world-happiness-report.csv
  World Happiness Report Analysis/Images/accuracy.png
  World Happiness Report Analysis/Images/happiness.png
  World Happiness Report Analysis/Images/info.png
  World Happiness Report Analysis/Model/README.md
  World Happiness Report Analysis/Model/world_happiness_report.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#294 Diamond Price Prediction
  Diamond Price Prediction/Backend/Procfile
  Diamond Price Prediction/Backend/app.py
  Diamond Price Prediction/Backend/diamond_price_prediction.ipynb
  Diamond Price Prediction/Backend/diamonds.csv
  Diamond Price Prediction/Backend/model.pkl
  Diamond Price Prediction/Backend/model.py
  Diamond Price Prediction/Backend/requirements.txt
  Diamond Price Prediction/Backend/templates/index.html
  Diamond Price Prediction/Dataset/README.md
  Diamond Price Prediction/Dataset/diamonds.csv
  Diamond Price Prediction/Images/accuracy.png
  Diamond Price Prediction/Images/output.jpg
  Diamond Price Prediction/Model/README.md
  Diamond Price Prediction/Model/diamond_price_prediction.ipynb
Labels: Back End, LGMSOC21, Model Creation, To Do, 🟥 Level4

#296 Youtube Video Recommendation System
  Youtube Video Recommendation System/Dataset/YoutubeVideos_data.csv
  Youtube Video Recommendation System/Model/Youtube_Video_Recommendation_System.ipynb
  Youtube Video Recommendation System/Model/requirements.txt
  Youtube Video Recommendation System/README.md
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#299 World Poverty Analysis
  World Poverty Analysis/Dataset/MPI_national.csv
  World Poverty Analysis/Dataset/MPI_subnational.csv
  World Poverty Analysis/Dataset/README.md
  World Poverty Analysis/Images/pov1.jpg
  World Poverty Analysis/Model/README.md
  World Poverty Analysis/Model/world_poverty_analysis.ipynb
  World Poverty Analysis/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#303 Star Radiation
  Star Radiation Analysis and Prediction/Dataset/SolarPrediction.csv
  Star Radiation Analysis and Prediction/Dataset/cleandata.csv
  Star Radiation Analysis and Prediction/Images/Web capture_1-7-2021_234152_localhost.jpeg
  Star Radiation Analysis and Prediction/Images/Web capture_1-7-2021_234229_localhost.jpeg
  Star Radiation Analysis and Prediction/Images/Web capture_2-7-2021_0442_localhost.jpeg
  Star Radiation Analysis and Prediction/Images/Web capture_2-7-2021_0631_localhost.jpeg
  Star Radiation Analysis and Prediction/Images/Web capture_2-7-2021_063_localhost.jpeg
  Star Radiation Analysis and Prediction/Images/Web capture_2-7-2021_0738_localhost.jpeg
  Star Radiation Analysis and Prediction/Images/Web capture_2-7-2021_078_localhost.jpeg
  Star Radiation Analysis and Prediction/Model/README.md
  Star Radiation Analysis and Prediction/Model/requirements.txt
  Star Radiation Analysis and Prediction/Model/star_radiation_dataextraction.ipynb
  Star Radiation Analysis and Prediction/Model/star_radiation_model.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#331 Advertisement Click Prediction
  Advertisement Click Prediction/Dataset/README.md
  Advertisement Click Prediction/Dataset/Social_Network_Ads.csv
  Advertisement Click Prediction/Images/ad1.png
  Advertisement Click Prediction/Images/ad2.png
  Advertisement Click Prediction/Model/Advertisement_click_prediction.ipynb
  Advertisement Click Prediction/Model/README.md
  Advertisement Click Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#334 GOT Episodes IMDb Rating Prediction
  GOT Episodes IMDb Rating Prediction/Dataset/README.md
  GOT Episodes IMDb Rating Prediction/Dataset/game of thrones.csv
  GOT Episodes IMDb Rating Prediction/Images/got1.png
  GOT Episodes IMDb Rating Prediction/Images/got2.png
  GOT Episodes IMDb Rating Prediction/Images/got3.jpg
  GOT Episodes IMDb Rating Prediction/Model/GOT_episodes_IMDb_rating_prediction.ipynb
  GOT Episodes IMDb Rating Prediction/Model/README.md
  GOT Episodes IMDb Rating Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#332 Brain Weight Prediction
  Brain Weight Prediction/Dataset/README.md
  Brain Weight Prediction/Dataset/dataset.csv
  Brain Weight Prediction/Images/brain1.png
  Brain Weight Prediction/Images/brain2.png
  Brain Weight Prediction/Images/brain3.png
  Brain Weight Prediction/Images/brain5.jpg
  Brain Weight Prediction/Model/Brain_weight_prediction.ipynb
  Brain Weight Prediction/Model/README.md
  Brain Weight Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#333 Body Fat Prediction
  Body Fat Prediction/Dataset/README.md
  Body Fat Prediction/Dataset/bodyfat.csv
  Body Fat Prediction/Images/features.png
  Body Fat Prediction/Images/output.png
  Body Fat Prediction/Model/README.md
  Body Fat Prediction/Model/body_fat_prediction.ipynb
  Body Fat Prediction/Model/model.pkl
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#338 Stack Overflow Questions Quality Rating Prediction
  Stack Overflow Questions Quality Rating Prediction/Dataset/README.md
  Stack Overflow Questions Quality Rating Prediction/Images/stack1.png
  Stack Overflow Questions Quality Rating Prediction/Images/stack2.png
  Stack Overflow Questions Quality Rating Prediction/Images/stack3.png
  Stack Overflow Questions Quality Rating Prediction/Model/README.md
  Stack Overflow Questions Quality Rating Prediction/Model/Stack_Overflow_Questions_Quality_Rating_Prediction.ipynb
  Stack Overflow Questions Quality Rating Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#340 Paris Housing Classification
  Paris Housing Classification/Dataset/ParisHousingClass.csv
  Paris Housing Classification/Dataset/README.md
  Paris Housing Classification/Model/README.md
  Paris Housing Classification/Model/paris_housing_classification.ipynb
  Paris Housing Classification/requirements.txt
Labels: LGMSOC21, Model Creation, 🟧 Level3

#336 Bird Species Classification and Recognition
  Bird Species Classification and Recognition/Dataset/README.md
  Bird Species Classification and Recognition/Model/Bird Species Classification and Recognition.ipynb
  Bird Species Classification and Recognition/Model/README.md
Labels: LGMSOC21, Model Creation, 🟧 Level3

#341 Emotion Classification
  Emotion Classification/Dataset/README.md
  Emotion Classification/Dataset/emotion-labels-test.csv
  Emotion Classification/Dataset/emotion-labels-train.csv
  Emotion Classification/Dataset/emotion-labels-val.csv
  Emotion Classification/Images/107360-byxhzxvmlb-1544009839.jpg
  Emotion Classification/Images/em1.png
  Emotion Classification/Images/em2.png
  Emotion Classification/Images/em3.png
  Emotion Classification/Model/README.md
  Emotion Classification/Model/emotion_classification.ipynb
  Emotion Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#342 Cervical Cancer Risk Prediction
  Cervical Cancer Risk Prediction/Dataset/README.md
  Cervical Cancer Risk Prediction/Dataset/kag_risk_factors_cervical_cancer.csv
  Cervical Cancer Risk Prediction/Images/ce10.png
  Cervical Cancer Risk Prediction/Images/ce11.png
  Cervical Cancer Risk Prediction/Images/ce2.png
  Cervical Cancer Risk Prediction/Images/ce3.png
  Cervical Cancer Risk Prediction/Images/ce4.png
  Cervical Cancer Risk Prediction/Images/ce5.png
  Cervical Cancer Risk Prediction/Images/ce6.png
  Cervical Cancer Risk Prediction/Images/ce7.png
  Cervical Cancer Risk Prediction/Images/ce8.png
  Cervical Cancer Risk Prediction/Images/ce9.png
  Cervical Cancer Risk Prediction/Images/cer1.jpg
  Cervical Cancer Risk Prediction/Model/Cervical_Cancer_Risk_Prediction.ipynb
  Cervical Cancer Risk Prediction/Model/README.md
  Cervical Cancer Risk Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#344 Amazon Products Reviews Classification
  Amazon Products Reviews Classification/Dataset/README.md
  Amazon Products Reviews Classification/Images/ama1.jpg
  Amazon Products Reviews Classification/Images/ama2.png
  Amazon Products Reviews Classification/Images/ama3.png
  Amazon Products Reviews Classification/Images/newplot (1).png
  Amazon Products Reviews Classification/Images/newplot (2).png
  Amazon Products Reviews Classification/Images/newplot (3).png
  Amazon Products Reviews Classification/Images/newplot.png
  Amazon Products Reviews Classification/Model/Amazon_Products_Reviews_Classification.ipynb
  Amazon Products Reviews Classification/Model/README.md
  Amazon Products Reviews Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#343 Football Team Rating Prediction
  Football Team Rating Prediction/Dataset/Football teams.csv
  Football Team Rating Prediction/Dataset/README.md
  Football Team Rating Prediction/Images/acc.png
  Football Team Rating Prediction/Images/features.png
  Football Team Rating Prediction/Images/top10 rating.png
  Football Team Rating Prediction/Model/README.md
  Football Team Rating Prediction/Model/football_teams_rating.ipynb
  Football Team Rating Prediction/Model/model.pkl
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#345 Added Amazon Data Analysis
  Amazon Data Analysis/Dataset/README.md
  Amazon Data Analysis/Dataset/Reviews.csv
  Amazon Data Analysis/Model/README.md
  Amazon Data Analysis/Model/amazon_data_analysis.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#346 Forest Fire Prediction
  Forest Fire Prediction/Dataset/README.md
  Forest Fire Prediction/Dataset/forestfires.csv
  Forest Fire Prediction/Images/describe.png
  Forest Fire Prediction/Images/xg.png
  Forest Fire Prediction/Model/README.md
  Forest Fire Prediction/Model/forest_fire_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#374 Laptop Prices Prediction
  Laptop Prices Prediction/Dataset/README.md
  Laptop Prices Prediction/Dataset/laptops.csv
  Laptop Prices Prediction/Images/lap1.jpg
  Laptop Prices Prediction/Images/lap2.png
  Laptop Prices Prediction/Images/lap3.png
  Laptop Prices Prediction/Images/lap4.png
  Laptop Prices Prediction/Images/lap5.png
  Laptop Prices Prediction/Images/lap6.png
  Laptop Prices Prediction/Images/lap7.png
  Laptop Prices Prediction/Model/Laptop_Prices_Prediction.ipynb
  Laptop Prices Prediction/Model/README.md
  Laptop Prices Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#373 Kidney Stone Prediction
  Kidney Stone Prediction/Dataset/README.md
  Kidney Stone Prediction/Dataset/kidney_stone_data.csv
  Kidney Stone Prediction/Images/kid1.jpg
  Kidney Stone Prediction/Images/kid2.png
  Kidney Stone Prediction/Model/Kidney_Stone_Prediction.ipynb
  Kidney Stone Prediction/Model/README.md
  Kidney Stone Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#335 Added Gender Classification Project
  Gender Classification Using DL/Images/Here.png
  Gender Classification Using DL/Model/Dataset.md
  Gender Classification Using DL/Model/Gender.py
  Gender Classification Using DL/Model/Gender_Classification.ipynb
  Gender Classification Using DL/Model/README.md
  Gender Classification Using DL/Model/app.py
  Gender Classification Using DL/Model/static/css/main.css
  Gender Classification Using DL/Model/static/js/main.js
  Gender Classification Using DL/Model/templates/base.html
  Gender Classification Using DL/Model/templates/index.html
  Gender Classification Using DL/requirements.txt
Labels: Back End, Front End, LGMSOC21, Model Creation, To Do, 🟥 Level4

#379 Twitch Streamer Analysis
  Twitch Streamer Analysis/Dataset/README.md
  Twitch Streamer Analysis/Dataset/twitchdata-update.csv
  Twitch Streamer Analysis/Images/accuracy.png
  Twitch Streamer Analysis/Images/features.png
  Twitch Streamer Analysis/Images/followers.png
  Twitch Streamer Analysis/Model/README.md
  Twitch Streamer Analysis/Model/model.pkl
  Twitch Streamer Analysis/Model/twitch_streamer_analysis.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#380 Airbnb Price Prediction
  Airbnb Price Prediction/Dataset/README.md
  Airbnb Price Prediction/Images/air1.jpg
  Airbnb Price Prediction/Images/air2.png
  Airbnb Price Prediction/Images/air3..png
  Airbnb Price Prediction/Images/air4.png
  Airbnb Price Prediction/Images/air5.png
  Airbnb Price Prediction/Images/air6.png
  Airbnb Price Prediction/Images/air7.png
  Airbnb Price Prediction/Images/air8.png
  Airbnb Price Prediction/Images/air9.png
  Airbnb Price Prediction/Model/Airbnb_Price_Prediction.ipynb
  Airbnb Price Prediction/Model/README.md
  Airbnb Price Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#376 Book Recommendation Systems
  Book Recommendation Systems/Dataset/README.md
  Book Recommendation Systems/Dataset/books.csv
  Book Recommendation Systems/Images/book1.jpg
  Book Recommendation Systems/Images/book2.png
  Book Recommendation Systems/Images/book3..png
  Book Recommendation Systems/Images/book4.png
  Book Recommendation Systems/Images/book5.png
  Book Recommendation Systems/Images/book6.png
  Book Recommendation Systems/Images/book7.png
  Book Recommendation Systems/Images/book8.png
  Book Recommendation Systems/Images/book9.png
  Book Recommendation Systems/Model/Book_Recommendation_Systems.ipynb
  Book Recommendation Systems/Model/README.md
  Book Recommendation Systems/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#382 Balls Image Classification
  Balls Image Classification/Dataset/README.md
  Balls Image Classification/Images/ball1.jpg
  Balls Image Classification/Images/ball2.png
  Balls Image Classification/Images/ball3.png
  Balls Image Classification/Images/ball4.png
  Balls Image Classification/Images/ball5.png
  Balls Image Classification/Model/Balls_Image_Classification.ipynb
  Balls Image Classification/Model/README.md
  Balls Image Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#386 Male & Female Eyes Classification
  Male & Female Eyes Classification/Dataset/README.md
  Male & Female Eyes Classification/Images/eye1.jpg
  Male & Female Eyes Classification/Images/eye2.png
  Male & Female Eyes Classification/Images/eye3.png
  Male & Female Eyes Classification/Images/eye4.png
  Male & Female Eyes Classification/Images/eye5.png
  Male & Female Eyes Classification/Images/eye6.png
  Male & Female Eyes Classification/Images/eye7.png
  Male & Female Eyes Classification/Images/eye8.png
  Male & Female Eyes Classification/Images/eye9.png
  Male & Female Eyes Classification/Model/Male_&_Female_Eyes_Classification.ipynb
  Male & Female Eyes Classification/Model/README.md
  Male & Female Eyes Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#390 Social Network Influencers Prediction
  Social Network Influencer Prediction/Dataset/README.md
  Social Network Influencer Prediction/Dataset/sample_predictions.csv
  Social Network Influencer Prediction/Dataset/test.csv
  Social Network Influencer Prediction/Dataset/train.csv
  Social Network Influencer Prediction/Images/A_Follower.png
  Social Network Influencer Prediction/Images/B_Follower.png
  Social Network Influencer Prediction/Images/INFO.png
  Social Network Influencer Prediction/Model/README.md
  Social Network Influencer Prediction/Model/social_network_influencer_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#391 Marble Surface Anomaly Detection
  Marble Surface Anomaly Detection/Dataset/README.md
  Marble Surface Anomaly Detection/Images/mar1.jpg
  Marble Surface Anomaly Detection/Images/mar2.png
  Marble Surface Anomaly Detection/Images/mar3.png
  Marble Surface Anomaly Detection/Images/mar4.png
  Marble Surface Anomaly Detection/Images/mar5.png
  Marble Surface Anomaly Detection/Model/Marble_Surface_Anomaly_Detection .ipynb
  Marble Surface Anomaly Detection/Model/README.md
  Marble Surface Anomaly Detection/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#400 Persian License Plate Characters Identification
  Persian License Plate Characters Identification/Dataset/README.md
  Persian License Plate Characters Identification/Images/per1.jpg
  Persian License Plate Characters Identification/Images/per2.png
  Persian License Plate Characters Identification/Images/per3.png
  Persian License Plate Characters Identification/Images/per4.png
  Persian License Plate Characters Identification/Model/Persian_License_Plate_Characters_Identification.ipynb
  Persian License Plate Characters Identification/Model/README.md
  Persian License Plate Characters Identification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#401 Hotel Booking Prediction
  Hotel Booking Prediction/Dataset/archive.zip
  Hotel Booking Prediction/Model/README.md
  Hotel Booking Prediction/Model/hotel_booking_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#403 CAPTCHA Decoding
  CAPTCHA Decoding/Dataset/README.md
  CAPTCHA Decoding/Images/cap1.jpg
  CAPTCHA Decoding/Images/cap2.png
  CAPTCHA Decoding/Images/cap3..png
  CAPTCHA Decoding/Images/cap4.png
  CAPTCHA Decoding/Images/cap5.png
  CAPTCHA Decoding/Images/cap6.png
  CAPTCHA Decoding/Images/cap7.png
  CAPTCHA Decoding/Images/cap8.png
  CAPTCHA Decoding/Images/cap9.png
  CAPTCHA Decoding/Model/CAPTCHA_Decoding.ipynb
  CAPTCHA Decoding/Model/README.md
  CAPTCHA Decoding/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#406 Shoulder X-ray Classification
  Shoulder X-ray Classification/Dataset/README.md
  Shoulder X-ray Classification/Images/xray1.jpg
  Shoulder X-ray Classification/Images/xray2.png
  Shoulder X-ray Classification/Images/xray3.png
  Shoulder X-ray Classification/Images/xray4.png
  Shoulder X-ray Classification/Images/xray5.png
  Shoulder X-ray Classification/Model/README.md
  Shoulder X-ray Classification/Model/Shoulder_X-ray_Classification.ipynb
  Shoulder X-ray Classification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#411 Updated The "Look Through the Kart of Amazing Projects" in README
  README.md
Labels: LGMSOC21, To Do, 🟨 Level2

#417 Netflix EDA and Recommendation System
  Netflix EDA and Recommedation System/Dataset/netflix_data.csv
  Netflix EDA and Recommedation System/Model/Netflix_EDA_and_Recommendation_System.ipynb
  Netflix EDA and Recommedation System/Model/README.md
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#414 NBA-Analysis AND Prediction
  NBA EDA AND PREDICTION/Dataset/archive (1).zip
  NBA EDA AND PREDICTION/Model/README (2).md
  NBA EDA AND PREDICTION/Model/nba_eda_and_prediction_99.ipynb
  NBA-Analysis AND PREDICTION/Dataset/dataset.zip.zip
  NBA-Analysis AND PREDICTION/Model/README.md
  NBA-Analysis AND PREDICTION/Model/nba_eda_and_prediction_.ipynb
  NBA-Analysis and Prediction/Dataset/dataset.zip
  NBA-Analysis and Prediction/Model/README.md
  NBA-Analysis and Prediction/Model/nba_analysis_and_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#410 Mall Customer Segmentation
  Mall Customer Segmentation/Dataset/Mall_Customers.csv
  Mall Customer Segmentation/Dataset/README.md
  Mall Customer Segmentation/Model/mall_customer_segmentation.ipynb
  Mall Customer Segmentation/Model/requirements.txt
  Mall Customer Segmentation/README.md
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#420 Alpaca Identification
  Alpaca Identification/Dataset/README.md
  Alpaca Identification/Images/al1.jpg
  Alpaca Identification/Images/al2.png
  Alpaca Identification/Images/al3.png
  Alpaca Identification/Images/al4.png
  Alpaca Identification/Model/Alpaca_Identification.ipynb
  Alpaca Identification/Model/README.md
  Alpaca Identification/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#421 Bank Customers Prediction
  Bank Customers Prediction/Dataset/dataset.zip
  Bank Customers Prediction/Model/README.md
  Bank Customers Prediction/Model/bank_customers_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#423 Added Marathon Time Prediction
  Marathon Time Prediction/Dataset/MarathonData.csv
  Marathon Time Prediction/Dataset/README.md
  Marathon Time Prediction/Model/README.md
  Marathon Time Prediction/Model/marathon_time_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#265 Fashion MNIST Classification
  Fashion MNIST Classification/Dataset/README.md
  Fashion MNIST Classification/Models/fashion_mnist_classification_knn.ipynb
  Fashion MNIST Classification/Models/fashion_mnist_classification_logistic_regression.ipynb
  Fashion MNIST Classification/Models/fashion_mnist_classification_svm.ipynb
  Fashion MNIST Classification/README.md
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#427 German Traffic Sign Classification
  German Traffic Sign Classification/Dataset/Meta.csv
  German Traffic Sign Classification/Dataset/README.md
  German Traffic Sign Classification/Dataset/Test.csv
  German Traffic Sign Classification/Dataset/Train.csv
  German Traffic Sign Classification/Images/43 classes.jpg
  German Traffic Sign Classification/Images/Data loss.png
  German Traffic Sign Classification/Images/Data to Tensors.png
  German Traffic Sign Classification/Images/german traffic.png
  German Traffic Sign Classification/Images/signal.png
  German Traffic Sign Classification/Images/signals.jpg
  German Traffic Sign Classification/Images/traffic.jpg
  German Traffic Sign Classification/Images/training.png
  German Traffic Sign Classification/Model/German_Traffic_Sign_Classification.ipynb
  German Traffic Sign Classification/Model/README.md
  German Traffic Sign Classification/requirements.txt
Labels: DCP21, Model Creation, 🟧 Level3

#430 Solar Radiation Prediction
  Solar Radiation Prediction/Backend/Procfile
  Solar Radiation Prediction/Backend/SolarPrediction.csv
  Solar Radiation Prediction/Backend/app.py
  Solar Radiation Prediction/Backend/model.pkl
  Solar Radiation Prediction/Backend/model.py
  Solar Radiation Prediction/Backend/requirements.txt
  Solar Radiation Prediction/Backend/solar_radiation_prediction.ipynb
  Solar Radiation Prediction/Backend/templates/index.html
  Solar Radiation Prediction/Dataset/README.md
  Solar Radiation Prediction/Dataset/SolarPrediction.csv
  Solar Radiation Prediction/Images/accuracy.png
  Solar Radiation Prediction/Images/output.png
  Solar Radiation Prediction/Model/README.md
  Solar Radiation Prediction/Model/solar_radiation_prediction.ipynb
Labels: Back End, LGMSOC21, Model Creation, To Do, 🟥 Level4

#446 Fragnance Price Prediction
  Fragnance Price Prediction/Dataset/dataset.zip
  Fragnance Price Prediction/Model/README.md
  Fragnance Price Prediction/Model/fragnance_price_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#448 Campus Placement Prediction
  Campus Placement Prediction/Dataset/Placement_Data_Full_Class.csv
  Campus Placement Prediction/Dataset/README.md
  Campus Placement Prediction/Images/accuracy.png
  Campus Placement Prediction/Images/features.png
  Campus Placement Prediction/Model/README.md
  Campus Placement Prediction/Model/campus_placement_prediction.ipynb
  Campus Placement Prediction/Model/model.pkl
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#447 Diabetes Prediction
  Diabetes Prediction/Model/Decision_Tree_Classifier.pkl
  Diabetes Prediction/Model/DiabetesPrediction.ipynb
  Diabetes Prediction/Model/README.md
  Diabetes Prediction/Model/Random_Forest_Classifier.pkl
  Diabetes Prediction/Model/SVM.pkl
  Diabetes Prediction/Model/diabetes_prediction_enhanced.ipynb
  Diabetes Prediction/Model/logistic_regression.pkl
  Diabetes Prediction/Model/requirements.txt
Labels: DCP21, Model Creation, enhancement, 🟨 Level2

#445 Amazon Books Analysis
  Amazon Books Analysis/Dataset/README.md
  Amazon Books Analysis/Dataset/bestsellers with categories.csv
  Amazon Books Analysis/Images/describe.png
  Amazon Books Analysis/Images/hist.png
  Amazon Books Analysis/Images/info.png
  Amazon Books Analysis/Model/README.md
  Amazon Books Analysis/Model/amazon_book_analysis.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#451 Coffee Production Prediction
  Coffee Production Prediction/Dataset/domestic-consumption.csv
  Coffee Production Prediction/Dataset/exports-calendar-year.csv
  Coffee Production Prediction/Dataset/exports-crop-year.csv
  Coffee Production Prediction/Dataset/gross-opening-stocks.csv
  Coffee Production Prediction/Dataset/total-production.csv
  Coffee Production Prediction/Model/Coffee_Production_Prediction.ipynb
  Coffee Production Prediction/Model/requirements.txt
  Coffee Production Prediction/README.md
Labels: DCP21, Model Creation, 🟧 Level3

#404 Terrorist attack prediction
  Terrorist Attack Prediction/Dataset/README.md
  Terrorist Attack Prediction/Images/im2.PNG
  Terrorist Attack Prediction/Images/im3.PNG
  Terrorist Attack Prediction/Images/img1.PNG
  Terrorist Attack Prediction/Images/is-it-going-to-end-soon.jpg
  Terrorist Attack Prediction/Model/README.md
  Terrorist Attack Prediction/Model/terrorist_attack_prediction .ipynb
  Terrorist Attack Prediction/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#454 Railway Track Fault Detection
  Railway Track Fault Detection/Dataset/README.md
  Railway Track Fault Detection/Dataset/Validation/Defective/defects.jpeg
  Railway Track Fault Detection/Dataset/non-defective/non defective.jpeg
  Railway Track Fault Detection/Images/Graph.jpeg
  Railway Track Fault Detection/Images/output1.jpeg
  Railway Track Fault Detection/Images/output2.jpeg
  Railway Track Fault Detection/Model/README.md
  Railway Track Fault Detection/Model/Railway_Track_Fault_Detection.ipynb
  Railway Track Fault Detection/requirements.txt
Labels: DCP21, Model Creation, 🟧 Level3

#242 Amazon Alexa Reviews
  Amazon Alexa Reviews/Dataset/amazon_alexa.csv
  Amazon Alexa Reviews/Images/screenshot.PNG
  Amazon Alexa Reviews/Model/amazon_alexa_reviews.ipynb
  Amazon Alexa Reviews/README.md
Labels: LGMSOC21, Model Creation, 🟧 Level3

#422 Added Face Detection using PCA
  Face detection using PCA/Images/pca.png
  Face detection using PCA/Images/result.png
  Face detection using PCA/Model/Model.ipynb
  Face detection using PCA/Model/requirements.txt
  Face detection using PCA/README.md
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#458 Added Organ Donors Prediction
  Organ Donors Prediction/Dataset/README.md
  Organ Donors Prediction/Dataset/Raw_Data_for_train_test.csv
  Organ Donors Prediction/Model/README.md
  Organ Donors Prediction/Model/organ_donors_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#461 Predict Future Sales
  Predict Future Sales/Dataset/dataset.zip
  Predict Future Sales/Model/README.md
  Predict Future Sales/Model/predict_future_sales.ipynb
Labels: LGMSOC21, To Do, 🟨 Level2

#462 World Population by Year Analysis
  World Population by Year analysis/Datasets/WorldPopulation.csv
  World Population by Year analysis/Models/World_Population_by_year_analysis.ipynb
  World Population by Year analysis/README.md
  World Population by Year analysis/requirements.txt
Labels: DCP21, 🟧 Level3

#440 Amazon Mobile Phones reviews sentiment Analysis
  Amazon Mobile Phones Reviews Analysis/Dataset/cell_phone_review.csv
  Amazon Mobile Phones Reviews Analysis/Model/README.md
  Amazon Mobile Phones Reviews Analysis/Model/cell_phone_reviews_analysis.ipynb
  Amazon Mobile Phones Reviews Analysis/Model/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#471 Private Companies Prediction
  Private Companies Prediction/Dataset/dataset.zip
  Private Companies Prediction/Model/README.md
  Private Companies Prediction/Model/private_company_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#474 Classification of images using mnist and cifar10
  Classification of Images using MNIST and CIFAR10/Dataset/README.md
  Classification of Images using MNIST and CIFAR10/Images/CIFAR10Image1.png
  Classification of Images using MNIST and CIFAR10/Images/CIFAR10Image2.png
  Classification of Images using MNIST and CIFAR10/Images/MNISTImage1.png
  Classification of Images using MNIST and CIFAR10/Images/README.md
  Classification of Images using MNIST and CIFAR10/Model/Classification_Of_Images_using_mnist_and_cifar10.ipynb
  Classification of Images using MNIST and CIFAR10/README.md
  Classification of Images using MNIST and CIFAR10/requirements.txt
Labels: DCP21, Model Creation, To Do, 🟧 Level3

#481 Brazil Fires Prediction
  Brazil Fires Prediction/Dataset/dataset.zip
  Brazil Fires Prediction/Images/Amazon-forest-fire-960x540.jpg
  Brazil Fires Prediction/Images/brazil fire.htm
  Brazil Fires Prediction/Images/brazil fire.jpg
  Brazil Fires Prediction/Images/brazil fires.htm
  Brazil Fires Prediction/Images/brazil-amazon-rainforest-worst-fires-in-decade.htm
  Brazil Fires Prediction/Images/brazil-fire-1.jpg
  Brazil Fires Prediction/Images/brazils-wildfires-are-worse-in-2020-heres-what-travelers-need-to-know.htm
  Brazil Fires Prediction/Images/sebastian-liste-amazon-fires-brazil-3.jpg
  Brazil Fires Prediction/Model/README.md
  Brazil Fires Prediction/Model/brazil_fires_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#489 Supermarket Sales Prediction
  Supermarket Sales Prediction/Dataset/dataset.zip
  Supermarket Sales Prediction/Model/README.md
  Supermarket Sales Prediction/Model/requirements.txt
  Supermarket Sales Prediction/Model/supermarket_sales_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#486 Olympic Medal Prediction
  Olympic Medal Prediction/Dataset/athlete_events.csv
  Olympic Medal Prediction/Model/Olympic_Medal_Prediction.ipynb
  Olympic Medal Prediction/Model/requirements.txt
  Olympic Medal Prediction/README.md
Labels: DCP21, Model Creation, To Do, 🟧 Level3

#495 Graduate Admission Prediction
  Graduate Admission Prediction/Dataset/dataset.zip
  Graduate Admission Prediction/Model/README.md
  Graduate Admission Prediction/Model/graduate_admission_prediction.ipynb
  Graduate Admission Prediction/Model/requirements.txt
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#497 Avito Product Analysis and Price Prediction
  Avito Product Analysis and Price Prediction/Dataset/ProductsData.csv
  Avito Product Analysis and Price Prediction/Model/Avito_Product_Data_Analysis.ipynb
  Avito Product Analysis and Price Prediction/Model/Avito_Product_Price_Prediction.ipynb
  Avito Product Analysis and Price Prediction/README.md
  Avito Product Analysis and Price Prediction/requirements.txt
Labels: DCP21, Model Creation, To Do, 🟧 Level3
