Repository prathimacode-hub/ML-ProjectKart, pull requests merged in 2021-08, with the labels that each got.

#491 Heart Attack Analysis
  Heart Attack Analysis/Dataset/README.md
  Heart Attack Analysis/Dataset/heart.csv
  Heart Attack Analysis/Model/README.md
  Heart Attack Analysis/Model/heart_attack_analysis.ipynb
  Heart Attack Analysis/requirements.txt
Labels: DCP21, Model Creation, To Do, 🟧 Level3

#498 IMDB Sentiment analysis
  IMDB Sentiment Analysis/Dataset/README.md
  IMDB Sentiment Analysis/Images/negative.png
  IMDB Sentiment Analysis/Images/positive.png
  IMDB Sentiment Analysis/Model/IMDB_sentiment_analysis.ipynb
  IMDB Sentiment Analysis/Model/README.md
  IMDB Sentiment Analysis/Model/Requirements.txt
Labels: DCP21, Model Creation, To Do, 🟧 Level3

#509 MemPool Prediction
  MemPool Prediction/Dataset/mempool.csv
  MemPool Prediction/Model/README.md
  MemPool Prediction/Model/mempool_prediction.ipynb
  MemPool Prediction/Model/requirements.txt
Labels: LGMSOC21, To Do, 🟥 Level4

#506 Snapchat Filters
  Snapchat Filters/Images/ImageWithGoggles.png
  Snapchat Filters/Images/Snapchat_Filtered.png
  Snapchat Filters/Images/chris hems img.jpg
  Snapchat Filters/Images/sunglasses.png
  Snapchat Filters/Model/README.md
  Snapchat Filters/Model/requirements.txt
  Snapchat Filters/Model/snapchat_filters.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟧 Level3

#540 Added Disease Symptom Prediction Model
  Disease Symptom Prediction/Dataset/README.md
  Disease Symptom Prediction/Dataset/Symptom-severity.csv
  Disease Symptom Prediction/Dataset/dataset.csv
  Disease Symptom Prediction/Dataset/symptom_Description.csv
  Disease Symptom Prediction/Dataset/symptom_precaution.csv
  Disease Symptom Prediction/Model/README.md
  Disease Symptom Prediction/Model/disease_symptom_prediction.ipynb
Labels: LGMSOC21, Model Creation, To Do, 🟥 Level4

#543 Car Insurance Prediction
  Car Insurance Prediction/Dataset/README.md
  Car Insurance Prediction/Dataset/test.csv
  Car Insurance Prediction/Dataset/train.csv
  Car Insurance Prediction/Images/img1.png
  Car Insurance Prediction/Images/img10.jpeg
  Car Insurance Prediction/Images/img11.jpeg
  Car Insurance Prediction/Images/img12.jpeg
  Car Insurance Prediction/Images/img2.jpeg
  Car Insurance Prediction/Images/img3.jpeg
  Car Insurance Prediction/Images/img4.jpeg
  Car Insurance Prediction/Images/img5.jpeg
  Car Insurance Prediction/Images/img6.jpeg
  Car Insurance Prediction/Images/img7.jpeg
  Car Insurance Prediction/Images/img8.jpeg
  Car Insurance Prediction/Images/img9.jpeg
  Car Insurance Prediction/Model/README.md
  Car Insurance Prediction/Model/car_insurance_prediction.ipynb
  Car Insurance Prediction/Model/requirements.txt
  Car Insurance Prediction/README.md
Labels: Model Creation, LGMSOC21, 🟥 Level4, To Do

#548 Added Crop Fertilizers Analysis and Prediction
  Crop Fertilizers Analysis and Prediction/Dataset/Fertilizer Prediction.csv
  Crop Fertilizers Analysis and Prediction/Dataset/README.md
  Crop Fertilizers Analysis and Prediction/Model/README.md
  Crop Fertilizers Analysis and Prediction/Model/crop_fertilizers_analysis_and_prediction.ipynb
Labels: Model Creation, LGMSOC21, 🟥 Level4, To Do

#551 Ramen Noodles Rating Analysis
  Ramen Noodles Rating Analysis/Dataset/README.md
  Ramen Noodles Rating Analysis/Dataset/ramen-ratings.csv
  Ramen Noodles Rating Analysis/Images/ramen1.png
  Ramen Noodles Rating Analysis/Images/ramen2.png
  Ramen Noodles Rating Analysis/Images/ramen3.png
  Ramen Noodles Rating Analysis/Images/ramen4.png
  Ramen Noodles Rating Analysis/Images/ramen5.png
  Ramen Noodles Rating Analysis/Images/ramen6.png
  Ramen Noodles Rating Analysis/Images/ramen7.jpg
  Ramen Noodles Rating Analysis/Model/README.md
  Ramen Noodles Rating Analysis/Model/Ramen_noodles_rating_analysis.ipynb
  Ramen Noodles Rating Analysis/requirements.txt
Labels: Model Creation, 🟧 Level3, To Do, DCP21

#553 Voice Gender Identification
  Voice Gender Identification/Dataset/README.md
  Voice Gender Identification/Dataset/voice.csv
  Voice Gender Identification/Images/voice1.png
  Voice Gender Identification/Images/voice10.png
  Voice Gender Identification/Images/voice11.png
  Voice Gender Identification/Images/voice12.png
  Voice Gender Identification/Images/voice2.png
  Voice Gender Identification/Images/voice3.png
  Voice Gender Identification/Images/voice4.png
  Voice Gender Identification/Images/voice5.png
  Voice Gender Identification/Images/voice6.png
  Voice Gender Identification/Images/voice7.png
  Voice Gender Identification/Images/voice8.png
  Voice Gender Identification/Images/voice9.png
  Voice Gender Identification/Model/README.md
  Voice Gender Identification/Model/Voice_Gender_Identification.ipynb
  Voice Gender Identification/requirements.txt
Labels: Model Creation, 🟧 Level3, To Do, DCP21

#541 customer income analysis segmentation
  Customer Income Segmentation Analysis/Dataset/Mall_Customers.csv
  Customer Income Segmentation Analysis/Model/README.md
  Customer Income Segmentation Analysis/Model/customer_segmentation.ipynb
  Customer Income Segmentation Analysis/Model/requirements.txt
Labels: Model Creation, 🟨 Level2, To Do, DCP21

#554 Salt Deposits Identification & Prediction
  Salt Deposits Identification & Prediction/Dataset/README.md
  Salt Deposits Identification & Prediction/Images/20180124081226334imageedit_1_4880614023_main.jpg
  Salt Deposits Identification & Prediction/Images/__results___16_1.png
  Salt Deposits Identification & Prediction/Images/__results___33_1.png
  Salt Deposits Identification & Prediction/Images/salt.jpg
  Salt Deposits Identification & Prediction/Images/salt1.png
  Salt Deposits Identification & Prediction/Images/salt2.png
  Salt Deposits Identification & Prediction/Images/salt3.png
  Salt Deposits Identification & Prediction/Images/salt4.png
  Salt Deposits Identification & Prediction/Images/salt5.png
  Salt Deposits Identification & Prediction/Model/README.md
  Salt Deposits Identification & Prediction/Model/Salt_Deposits_Identification_&_Prediction.ipynb
  Salt Deposits Identification & Prediction/requirements.txt
Labels: Model Creation, 🟥 Level4, To Do, DCP21

#557 Face Detection and Blurring
  Face Detection and Blurring/Images/Blurred_Image.png
  Face Detection and Blurring/Images/avengers_age_of_ultron.jpg
  Face Detection and Blurring/Model/README.md
  Face Detection and Blurring/Model/face_detection_and_blurring.ipynb
  Face Detection and Blurring/Model/requirements.txt
Labels: Model Creation, 🟨 Level2, LGMSOC21, To Do

#560 Customer Modeling Analysis
  Customer Modeling Analysis/Dataset/dataset.zip
  Customer Modeling Analysis/Model/README.md
  Customer Modeling Analysis/Model/customer_modeling_analysis.ipynb
  Customer Modeling Analysis/Model/requirements.txt
Labels: Model Creation, LGMSOC21, 🟥 Level4, To Do

#561 Added Car Prices Prediction
  Car Prices Prediction/Akash Ramanand Rajak/Dataset/README.md
  Car Prices Prediction/Akash Ramanand Rajak/Dataset/test-data.csv
  Car Prices Prediction/Akash Ramanand Rajak/Dataset/train-data.csv
  Car Prices Prediction/Akash Ramanand Rajak/Model/README.md
  Car Prices Prediction/Akash Ramanand Rajak/Model/car_prices_prediction.ipynb
Labels: LGMSOC21, 🟥 Level4, To Do

#562 Detecting Motion and Moving Objects in a Video
  Detecting Motion and Moving Objects in a Video/Images/frame1_image.png
  Detecting Motion and Moving Objects in a Video/Images/frame2_image.png
  Detecting Motion and Moving Objects in a Video/Images/output_image.png
  Detecting Motion and Moving Objects in a Video/Model/README.md
  Detecting Motion and Moving Objects in a Video/Model/detecting_motion_and_moving_objects_in_a_video.ipynb
  Detecting Motion and Moving Objects in a Video/Model/requirements.txt
  Detecting Motion and Moving Objects in a Video/Video/Cars Moving On Road Final.mp4
Labels: Model Creation, 🟧 Level3, LGMSOC21, To Do
